---
# theme
theme: default

# Directories and files to exclude from parsing
exclusions:
  # Anything matching these criteria will be excluded from checks
  paths:
    # A list of paths to files or directories
    - /proc
  dirs:
    # A list of directories (in any path)
    - .git
    - __pycache__
    - .tox
    - .cache
    - .eggs
    - .env
    - .idea
    - build
    - env
  extensions:
    # A list of file extensions


mappings:
  # Associations between file extensions and the template (group of checks) to run
  - extension: py
    templates:
      - python
  - extension: txt
    templates:
      - text
      - utf8
  - extension: png
    templates:
      - png
  - extension: out
    templates:
      - text
  - extension: xml
    templates:
      - text
      - xml
  - extension: ini
    templates:
      - text
      - ini
  - extension: yml
    templates:
      - yaml
  - extension: json
    templates:
      - json

# Map a template to a number of checks
templates:
  python:
     mime_type: text/x-python
  text:
     mime_type: text/plain
  xml:
     markup: xml
     mime_type: text/xml
  ini:
     markup: ini
     mime_type: text/plain
  json:
     markup: json
     mime_type: text/json
  yaml:
     markup: yaml
  png:
     mime_type: image/png


